
@font-face {
  font-family: FuturaPT;
  src: url("./fonts/FuturaPT-Book.woff")format("woff");
  font-weight: 300;
}
@font-face {
  font-family: FuturaPT;
  src: url("./fonts/FuturaPT-Medium.woff")format("woff");
  font-weight: 400;
}
@font-face {
  font-family: FuturaPT;
  src: url("./fonts/FuturaPT-Bold.woff")format("woff");
  font-weight: bold;
}

@font-face {
  font-family: FuturaPT;
  src: url("./fonts/FuturaPT-Demi.woff")format("woff");
  font-weight: 500;
}

*{
  font-family: "FuturaPT";
  letter-spacing: 0.05em;
}


/* Desktops, large screens*/
@media only screen and (max-width : 1200px) { }
/* Small screens, laptops */
@media only screen and (max-width : 1024px) { }
/* iPads, Tablets*/
@media only screen and (max-width : 768px) { }
/* Mobile devices */ 
@media only screen and (max-width : 480px) { }


@media only screen and (min-width : 1400px) { }
@media only screen and (min-width : 1600px) { }
@media only screen and (min-width : 1900px) { }