body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: FuturaPT;
  src: url("./fonts/FuturaPT-Book.woff")format("woff");
  font-weight: 300;
}
@font-face {
  font-family: FuturaPT;
  src: url("./fonts/FuturaPT-Medium.woff")format("woff");
  font-weight: 400;
}
@font-face {
  font-family: FuturaPT;
  src: url("./fonts/FuturaPT-Bold.woff")format("woff");
  font-weight: bold;
}

@font-face {
  font-family: FuturaPT;
  src: url("./fonts/FuturaPT-Demi.woff")format("woff");
  font-weight: 500;
}

*{
  font-family: "FuturaPT";
  letter-spacing: 0.05em;
}

html[data-scroll='0'] {
  
  header {
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 .5em rgba(0, 0, 0, .5);
  }
}  

